<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>
  <form [formGroup]="form" >
<div class="box-form">
	<div class="left">
		<div class="overlay">
			<i class="fas fa-utensils"></i>
			<a href="#" class="logo">Sauce</a>
		</div>
	</div>


		<div class="right" >
		<h5>Login</h5>
		<p>Don't Have An Account? <a style="color:#143444 " href="./Register.html">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" formControlName="Email" placeholder="User Name">
      <span class="text-danger" *ngIf="form.controls['Email'].hasError('required')">Required Email</span>
      <span class="text-danger" *ngIf="form.controls['Email'].hasError('email')">Must be an Email Patern</span>

			<br>
			<input type="password" formControlName="Password" placeholder="Password">
		</div>

			<br><br>

		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>Forget Password?</p>
		</div>

			<br>
			<button type="submit"  [disabled]='form.invalid' (click)="add()" >Login</button>
	</div>

</div>
<!-- partial -->
</form>
</body>
</html>
