
 <body>
  <div class="container">
   <img
    src="./../../../../assets/6.jpg"
    alt="Pancake"
   />
   <div class="container__text">
    <h1>Caramel Cake Pancakes</h1>
    <div class="container__text__star">
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
    </div>
    <p>
     If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
     We Complete these over-the-top pancakes with Caramel Syrup.
     If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
     We Complete these over-the-top pancakes with Caramel Syrup.
     If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
     We Complete these over-the-top pancakes with Caramel Syrup.
     If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
     We Complete these over-the-top pancakes with Caramel Syrup.
     If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
     We Complete these over-the-top pancakes with Caramel Syrup.
    </p>
    <!-- <div class="container__text__timing">
     <div class="container__text__timing_time">
      <h2>Hands-on Time</h2>
      <p>30 min</p>
     </div>
     <div class="container__text__timing_time">
      <h2>Total Time</h2>
      <p>40 min</p>
     </div>
     <div class="container__text__timing_time">
      <h2>Yield</h2>
      <p>40 min</p>
     </div>
    </div> -->
    <button class="btn">view Ingredients <i class="fa fa-arrow-right"></i></button>
   </div>
  </div>
 </body>

