<div class="box" >
  <a  class="fas fa-heart" (click)="AddFav(recipe.id)"></a>
  <a [routerLink]="['/recipe/details',recipe.id]"  class="fas fa-eye"></a>
    <img src="http://ahmedrafie-001-site1.ftempurl.com{{recipe.imageUrl}}" alt="">
    <h3>{{recipe.nameEN}}</h3>

    <h4>Good For  {{recipe.goodFor}} </h4>
    <div >
  <app-rating [value]="recipe.RateValue" [recipeId]="recipe.id" ></app-rating>
</div>
   <br>
   <br>
    <div id="price" >{{recipe.price}} EGP</div>
    <button  class="btn" (click)="AddTOCart(recipe.id)" >add to cart</button>

</div>
