<body>
      
   
    <!--main-->
     <main class="container" id="container"  >
       <section class="heading">
          <div>Order Number</div>
          <div>Order Quantity</div>
          <div>Date</div>
          
       </section>
        <section *ngFor="let item of Orders">
 
          <div class="item"> Order#{{item.id}}</div>
          <div>
            {{item.orderLists.length}} 
          </div>
          <div>
            <!-- {{TotalPrice}} -->
            {{item.orderDate|date}}
          </div>
        </section>
 
     </main> 
    </body>
 
 
 
 