<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  </head>
  <body>
    <h3 class="sub-heading">Ingredients</h3>
    <main>
      <section class="dishes" id="dishes" *ngFor="let item of Ingredients">
        <div class="box-container">
          <app-ingerdient-cards [ingerdient]="item"></app-ingerdient-cards>
        </div>
      </section>
    </main>
  </body>
</html>
