<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>

<body>
  <!--Filter SideBar-->
  <aside>
    <div class="searchbar">
      <input id="search" type="text" placeholder=" Search" #rr (keyup)="getName(rr.value)"> <i
        class="fa-solid fa-magnifying-glass" (click)="getRecipesByName()"></i>
    </div>
    <h5>Recipe Categories</h5>
    <div class="check" *ngFor="let item of Categories">
      <input type="checkbox" [value]="item.nameEN" #input (change)="getByCategory(input.value)" />
      <label> {{item.nameEN}}</label>
    </div>
  </aside>
  <!--Recipes-->
  <div>
    <h3 class="sub-heading">Recipes</h3>
    
    <main>
      <section class="dishes" id="dishes" *ngFor="let item of Recipes 
      | paginate : { itemsPerPage: tableSize, currentPage: page, totalItems: count}">
        <div class="box-container">
          <app-recipe-card [recipe]="item"></app-recipe-card>
        </div>
      </section>  
      
    </main>
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</body>

</html>