

<body>
  <!--Filter SideBar-->
  <aside>
    <div class="searchbar">
      <input id="search" type="text" placeholder=" Search" #rr (keyup)="getName(rr.value)" 
      (keyup)="getRecipesByName()"> <i
        class="fa-solid fa-magnifying-glass" (click)="getRecipesByName()"></i>
    </div>
    <h5>Recipe Categories</h5>
    <div class="check" *ngFor="let item of Categories">
      <input type="checkbox" [value]="item.nameEN" #input (change)="getByCategory(input.value)" />
      <label> {{item.nameEN}}</label>
    <hr style="width:50%;text-align:center;color: black;"> 

    </div>
    <hr>
    <br>
    <h3>Recipe Ingredients</h3>
    <div class="check" *ngFor="let item of Ingredients">
      <input type="checkbox" [value]="item.id" #input (change)="getByIngredient(item.id)" />
      <label> {{item.nameEN}}</label>
    </div>
  </aside>
  <!--Recipes-->
  <div>
    <h3 class="sub-heading">Recipes</h3>
    <!-- <div *ngFor="let y of test">{{y}}</div> -->
    
    <main>
      <section class="dishes" id="dishes" *ngFor="let item of Recipes 
      | paginate : { itemsPerPage: tableSize, currentPage: page, totalItems: count}">
      <div class="box-container">
        <app-home-made-recipe [recipe]="item"></app-home-made-recipe> 
      </div>
    </section>
      
    </main>
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</body>

