<div class="box" >
  <a (click)="AddFav(recipe.id)" class="fas fa-heart"></a>
  <a [routerLink]="['/recipe/details',recipe.id]"  class="fas fa-eye"></a>
    <img src="https://localhost:5001{{recipe.imageUrl}}" alt="">
    <h3>{{recipe.nameEN}}</h3>
  
    <!-- <h4>Good For  {{recipe.goodFor}} </h4> -->
    <div >
  <app-rating [value]="recipe.RateValue" [recipeId]="recipe.id" ></app-rating>
  <button class="btn" [routerLink]="['/recipe/Ingredients',recipe.id]"> View Ingredients</button>
</div>
   
</div>