<header>
    
    <a href="#" class="logo"><i class="fas fa-utensils"></i>Sauce</a>
    <nav class="navbar">
        <a routerLink="/">Home</a>
        <a routerLink="/Recipes">Recipes</a>
        <a href="./ourTeam.html">About Us</a>
        <a href="#menu">Meals</a>
        <a routerLink="/Ingredients">Ingredients</a>
        <a routerLink="/Restaurants">Restaurant</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a routerLink="/Cart" class="fas fa-heart"></a>
        <a routerLink="/Cart" class="fas fa-shopping-cart"></a>
    </div>

</header>

<!-- header section ends-->
<!-- search form  -->

<form action="" id="search-form">
    <input type="text" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>